h2 {
  color: red;
  background-color:gray; gray; silver;
}


INPUT.bareinput {
  border: 0px blue none;
  font: 8pt Verdana, geneva, arial, sans-serif;
  color: #000000;
  background-color:gray; gray; transparent;
}

#mainMapContainer {
  border: 1px solid olive;
  cursor: crosshair;
}

#legend {
	font-size: 70%; 
  font-family: cursive;
  background-color:gray; gray; silver;
}
