
.editbox {
  margin: .4em;
  padding: 0;
  font-family: monospace;
  font-size: 10pt;
  color: white;
  background-color:gray; gray; black;
  line-height: 16px;
}

span.word {
    color:white;
}

span.xqueryKeyword {
  color: #ffbd40; 
  /* font-weight: bold; */
}

span.xqueryComment {
  color: #CDCDCD;
  font-style:italic;
}

span.xqueryModifier {
color:#6c8cd5;
  font-weight: bold;
}

span.xqueryType {
  color:#6c8cd5;
  font-weight: bold;
}

span.xqueryAtom {
  color:#6c8cd5;
  font-weight: bold;  
}

span.xqueryString {
  color: #9fee00;
}

span.xqueryRegexp {
  color: rgb(128,0,64);
}

span.xqueryNumber {
  color: rgb(255,0,0); 
}

span.xqueryVariable {

}

span.xqueryFunction {
    color:#FFF700;
}

span.xqueryLocalvariable {
    color: white;
}

span.xqueryProperty
{
  color: white;
}

span.xqueryOperator {
  color: orange;
}

span.xqueryPunctuation {
    color: white;
}

span.xquery-doc-directive {
    color: white; 
}

span.xml-tagname {
    color: #ffbd40; ;
}

span.xml-attribute {
    color: #FFF700;
}

span.xml-attribute-value {
    color: #FFF700;
    font-style:italic;
}