html {
  cursor: text;
}

.editbox {
  padding: .4em;
  margin: 0;
  font-family: monospace;
  font-size: 10pt;
  line-height: 1.1em;
  color: black;
}

pre.code, .editbox {
  color: #666666;
}

.editbox p {
  margin: 0;
}

span.py-delimiter, span.py-special {
  color: #666666;
}

span.py-operator {
  color: #666666;
}

span.py-error {
  background-color:gray; gray; #660000;
  color: #FFFFFF;
}

span.py-keyword {
  color: #770088;
  font-weight: bold;
}

span.py-literal {
  color: #228811;
}

span.py-identifier, span.py-func  {
  color: black;
}

span.py-type, span.py-decorator {
  color: #0000FF;
}

span.py-comment {
  color: #AA7700;
}

span.py-string, span.py-bytes, span.py-raw, span.py-unicode {
  color: #AA2222;
}
